PROJECT_PATH=

HAPI_FHIR_SERVER_PROTOCOL=
HAPI_FHIR_SERVER_HOSTNAME=
HAPI_FHIR_SERVER_PORT=
HAPI_FHIR_SERVER_URI=
HAPI_FHIR_SERVER_BASE_URL=

DRIVER_CLASS_NAME=
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=

FHIR_LOG_FILENAME=
FHIR_LOG_FILENAME_PATTERN=
FHIR_LOG_CONSOLE_PATTERN=
FHIR_LOG_FILE_PATTERN=
FHIR_LOG_MAX_HISTORY=
FHIR_LOG_TOTAL_SIZE_CAP=

FHIR_PROTOCOL=

FHIR_LISTENER_PORT=
FHIR_LISTENER_DOCKER_SERVICE_NAME=
FHIR_LISTENER_APPLICATION_NAME=
FHIR_LISTENER_CONTEXT_PATH=
FHIR_LISTENER_SERVICE_BASE_URL=

FHIR_ADAPTER_PORT=
FHIR_ADAPTER_DOCKER_SERVICE_NAME=
FHIR_ADAPTER_APPLICATION_NAME=
FHIR_ADAPTER_CONTEXT_PATH=
FHIR_ADAPTER_SERVICE_BASE_URL=

FHIR_USER_PORT=
FHIR_USER_DOCKER_SERVICE_NAME=
FHIR_USER_APPLICATION_NAME=
FHIR_USER_CONTEXT_PATH=
FHIR_USER_SERVICE_BASE_URL=

FHIR_AUTH_PORT=
FHIR_AUTH_DOCKER_SERVICE_NAME=
FHIR_AUTH_APPLICATION_NAME=
FHIR_AUTH_CONTEXT_PATH=
FHIR_AUTH_SERVICE_BASE_URL=

SOURCE_DRIVER_CLASS_NAME=
SOURCE_DATABASE_URL=
SOURCE_DATABASE_USERNAME=
SOURCE_DATABASE_PASSWORD=
SOURCE_DATABASE_NAME=

FHIR_PUBLIC_KEY_FILE_NAME=
FHIR_PRIVATE_KEY_FILE_NAME=

FHIR_ACCESS_KEY_ID=
FHIR_SECRET_ACCESS_KEY=

CLIENT_REGISTRY_ENABLED_COUNTRY=

RABBITMQ_HOSTNAME=
RABBITMQ_MANAGEMENT_PORT=
RABBITMQ_AMQP_PORT=
RABBITMQ_USER_NAME=
RABBITMQ_USER_PASSWORD=
RABBITMQ_QUEUE_NAME=
RABBITMQ_EXCHANGE_NAME=
RABBITMQ_ROUTING_KEY=